<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313366832940-i6s4lv7gug4bl9s5ubfja6jqfh1ba8db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313366832940-i6s4lv7gug4bl9s5ubfja6jqfh1ba8db</string>
	<key>API_KEY</key>
	<string>AIzaSyAlyX_gy9xM_yBaNycwpJtte9ZArJ8KYAg</string>
	<key>GCM_SENDER_ID</key>
	<string>313366832940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.y0303noki.yellApp.stg</string>
	<key>PROJECT_ID</key>
	<string>yellapp-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>yellapp-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313366832940:ios:03187a08db3f26e7f5ee89</string>
</dict>
</plist>