<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994594426879-h4ftaigavcp4q8900i2doh46vjcc5pav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994594426879-h4ftaigavcp4q8900i2doh46vjcc5pav</string>
	<key>API_KEY</key>
	<string>AIzaSyDtXWJSnZ5M6jbN7IUE20U32Olc051ZGYI</string>
	<key>GCM_SENDER_ID</key>
	<string>994594426879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.y0303noki.yellApp.prod</string>
	<key>PROJECT_ID</key>
	<string>yellapp-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>yellapp-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994594426879:ios:9b942eb744c1ccea4be1ca</string>
</dict>
</plist>